@media (max-width: 790px) {
    .nav-menu {
        display: none;
    }
    .logo h1 {
        display: none;
    }
    .logo img {
        padding-bottom: 15px;
        padding-left: 10px;
    }
    .contact-btn {
        display: none;
    }
    .icon-hbg {
        display:block;
        padding-right: 20px;
        padding-bottom: 10px;
        font-size: 2rem;
    }
    .navbar {
        border-bottom: 0.5px solid rgb(254, 163, 1);;
    }

    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .hero-text{
        text-align: center;
    }
}

@media (max-width: 576px) {
/* 
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    } */
    .hero-img img{
        width: 20rem;
    }
}
@media (max-width: 340px) {
    
        .hero-img img{
            width: 10rem;
        }
        .hero-heading{
            text-align: center;
            
            font-size: 1rem;
        }
    }