@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-text {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.deep-sky {
    color: #01ACFD;
}

.light-sky {
    color: #05D4DF;
}

.grayy {
    color: #495560;
}

.light-pink {
    color: #5D58EF;
}

.new-pink {
    color: #68A2DF;
}

.orange-clr {
    color: #FEA301;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    /* border: 1px solid red; */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo>h1 {
    font-weight: 43.75rem;
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    /* margin-left: 20px; */
}

.nav-menu>a {
    text-decoration: none;
    font-weight: 500;
}
.nav-menu>a.home-btn:hover {
    color: #01ACFD;
}

.nav-menu>a.about-btn:hover {
    color: #15352b;
}

.nav-menu>a.facilities-btn:hover {
    color: #24de4d;
}

.nav-menu>a.admission-btn:hover {
    color: #d860c4;
}

.contact-btn {
    display: flex;
    align-items: center;
    /* margin-left:100px; */
}

.contact-btn button {
    padding: 10px 50px;
    border-radius: 8px;
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.contact-btn button:hover {
    background-color: #01ACFD;
    color: white;
}

.icon-hbg {
    display: none;
}

main{
    width: 86%;
    margin: 0 auto;
}
/* ...........Hero sec............ */
.hero-heading{
    font-size: 2.6rem;
    font-weight: 700;
}
.hero-para{
   padding-top: 20px;
}
.hero-section  .hero-btn{
    margin-top: 20px;
}
.black-btn{
    padding: 10px 50px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.hero-img img{
    width: 30rem;
    align-items: center;
    /* border:1px solid red; */
}
